<div>
    <app-child>
        <h3>Some Heading</h3>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <app-test [name]="'John Doe'"></app-test>
        <app-test [name]="'Larry Elisson'"></app-test>
        <app-test [name]="'Mary Lane'"></app-test>
        <app-test [name]="'Tony Stark'"></app-test>
    </app-child>

    <!-- <button (click)="showParaValue()">Show Value</button> -->
</div>